<form action="/todos/{{todo.id}}?_method=PUT" method="POST">
  <input name="isDone" value="done" type="checkbox" {{#if todo.isDone}} checked {{/if}}>
  <input type="text" placeholder="enter todo name ... " name="name" value="{{todo.name}}">
  <button type="submit">Save</button>
  <a href="/todos">back</a>
</form>


<script>
  const done =  document.querySelector('#')

</script>