{{>message}}

<H1>Login</H1>

<form action="/users/login" method="POST">

<label for="email">email</label>
<input id="email" name="email" type="text" placeholder="Enter email...">
<div></div>
<label for="password">Password</label>
<input id="password" name="password" type="text">
<div></div>
<button type="submit">Login</button>


</form>

<form action="/login/facebook" method="GET">
  <button type="submit">Facebook login </button>
</form>

<div></div>



<span>Don't have an Account ? </span>
<a href="/users/register">register</a>


